a2wsgi==1.10.10
apport_python_hook==0.1.0
beautifulsoup4==4.15.0
brotli==1.2.0
brotlicffi==1.2.0.0
chromadb==1.5.9
colorama==0.4.6
cos_python_sdk_v5==1.9.42
curio==1.6
cython==3.2.5
edge_tts==7.2.8
email_validator==2.3.0
eval_type_backport==0.4.0
fastapi_cli==0.0.24
Flask==3.1.3
flask_cors==6.0.2
gunicorn==26.0.0
h2==4.3.0
hypothesis==6.155.2
ipython==9.14.1
itsdangerous==2.2.0
Jinja2==3.1.6
langchain==1.3.9
langchain_chroma==1.1.0
langchain_community==0.4.2
langchain_huggingface==1.2.2
langchain_text_splitters==1.1.2
loop==1.0.0
matplotlib==3.11.0
multipart==1.3.1
numpy==2.4.6
openai==2.41.1
orjson==3.11.9
outcome==1.3.0.post0
pandas==3.0.3
Pygments==2.20.0
pytest==9.1.0
python_multipart==0.0.32
python_socks==2.8.1
rich==15.0.0
scipy==1.17.1
socksio==1.0.0
speedups==2.1.0
tencentcloud_sdk_python==3.1.93
toml==0.10.2
tomli==2.4.1
tqdm==4.67.3
ujson==5.12.1
url_parser==3.0.3
Werkzeug==3.1.8
wsproto==1.3.2
zstandard==0.24.0
